<tr>
	<td valign="top" align="center" bgcolor="#101010" style="background-color:#101010;">
		<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="width:600px;" class="wrapper-full">
			<tr>
				<td valign="top" align="center" class="p10">

					<table width="300" border="0" cellspacing="0" cellpadding="0" align="left" style="width:300px;" class="wrapper-full">
						<tr>
							<td valign="middle" align="center" style='padding: 15px;'>
								<a href="$website.url" data-surl-type="HomePage" data-surl-meta1="Story 1 - Image" target="_blank" style="text-decoration:none; color:#010000;">
									<img src="$image.GetUrl('v5-Mazda-Story-1')" width="270" alt="" border="0" style="display:block; width:270px; color:#010000;" class="full_img" />
								</a>
							</td>
						</tr>
					</table>
					<!--[if gte mso 9]>
					</td>
					<td valign="top">
				<![endif]-->
					<table width="300" border="0" cellspacing="0" cellpadding="0" align="right" style="width:300px;" class="wrapper-full">
						<tr>

							<td width="15" class='mobile-stack' style="width:15px; display: none;">&nbsp;</td>

							<td valign="top" align="center">
								<table width="270" border="0" cellspacing="0" cellpadding="0" align="center" style="width:270px;" class="wrapper-full">
									<tr>
										<td height="20" style="height:20px; line-height:0px; font-size:0px;">&nbsp;</td>
									</tr>

									<tr>
										<td valign="top" align='left' style="font-size:24px; line-height:28px; color:#ffffff;text-transform: uppercase;font-weight: bold;">
											Heading here
										</td>
									</tr>

									<tr>
										<td height="10" style="height:10px; line-height:0px; font-size:0px;"><img src="$image.GetUrl('spacer')" width="1" height="1" alt="" border="0" style="display:block;" /></td>
									</tr>

									<tr>
										<td valign="top" align='left'>
											<p style="font-size:12px; line-height:16px; color:#999999; Margin: 6px 0;">
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatibus minus nisi placeat
												ab perspiciatis ad similique laborum vero totam incidunt, laudantium, fugit ipsam a, enim porro cumque. Blanditiis, nulla!
											</p>
										</td>
									</tr>
									<tr>
										<td height="15" style="height:15px; line-height:0px; font-size:0px;"><img src="$image.GetUrl('spacer')" width="1" height="1" alt="" border="0" style="display:block;" /></td>
									</tr>

									<tr>
										<td valign="top">
											<table width="180" border="0" cellspacing="0" cellpadding="0" width="180" style="width:180px;">
												<tr>
													<td valign="middle" align="center" bgcolor="#910a2d" width="180" height="48" style="width:180px; background-color: #910a2d; border-radius:4px; font-size:13px; color:#ffffff; font-weight: bold;">
														<a href="$website.url" data-surl-type="Scheduler" data-surl-meta1="Story 1 - CTA - Call Now" target="_blank" style="text-decoration:none; color:#ffffff; display:block; line-height:48px;text-transform: uppercase;">
															Call Now
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>

									<tr>
										<td height="19" style="height:19px; line-height:0px; font-size:0px;"><img src="$image.GetUrl('spacer')" width="1" height="1" alt="" border="0" style="display:block;" /></td>
									</tr>
								</table>
							</td>

							<td width="15" style="width:15px;">&nbsp;</td>

						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<!-- Story 1 END-->

<!-- Spacer -->
<tr>
	<td bgcolor="#F5F5F5" height="30" style="height: 30px; background-color: #F5F5F5; border: none;">&nbsp;</td>
</tr>
<!-- /Spacer END -->